
@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Search Area Start Here -->
<section class="search-layout1 bg-body full-width-border-bottom fixed-menu-mt">
    <div class="container">

    </div>
</section>
<!-- Search Area End Here -->
<!-- About Area Start Here -->
<section class="s-space-bottom-full bg-accent-shadow-body">
    <div class="container">
        <div class="breadcrumbs-area">
            <ul>
                <li><a href="/">صفحه اصلی</a> -</li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12 mb--sm">
                <div class="gradient-wrapper">
                    <div class="gradient-title">
                        <h2>درباره ما</h2>
                    </div>
                    <div class="about-us gradient-padding">
                        <img src="~/images/banner/about.jpg" alt="about" class="img-fluid">
                        <h3>عنوان</h3>
                        <p>متن معرفی</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="sidebar-item-box">
                    <ul class="sidebar-more-option">
                        <li>
                            <a href="post-ad.html"><img src="~/images/banner/more1.png" alt="more" class="img-fluid">Post a Free Ad</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/images/banner/more2.png" alt="more" class="img-fluid">Manage Product</a>
                        </li>
                        <li>
                            <a href="favourite-ad-list.html"><img src="~/images/banner/more3.png" alt="more" class="img-fluid">Favorite Ad list</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-item-box">
                    <img src="~/images/banner/sidebar-banner1.jpg" alt="banner" class="img-fluid m-auto">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End Here -->
