
@{
    ViewBag.Title = "تماس با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Search Area Start Here -->
<section class="search-layout1 bg-body full-width-border-bottom fixed-menu-mt">
    <div class="container">

    </div>
</section>
<!-- Search Area End Here -->
<!-- Contact Area Start Here -->
<section class="s-space-bottom-full bg-accent-shadow-body">
    <div class="container">
        <div class="breadcrumbs-area">
            <ul>
                <li><a href="/">صفحه اصلی</a> -</li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="gradient-wrapper mb--sm">
                    <div class="gradient-title">
                        <h2>تماس با ما</h2>
                    </div>
                    <div class="contact-layout1 gradient-padding">
                        @*<div class="google-map-area">
                                <div id="googleMap" style="width:100%; height:400px;"></div>
                            </div>*@
                        <p>می توانید نظرات خود را با در میان بگذارید</p>
                        <form id="contact-form" class="contact-form">
                            <fieldset>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" placeholder="نام" class="form-control" name="name" id="form-name" data-error="Name field is required" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="email" placeholder="ایمیل" class="form-control" name="email" id="form-email" data-error="Email field is required" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" placeholder="عنوان" class="form-control" name="subject" id="form-subject" data-error="Subject field is required" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea placeholder="متن پیام" class="textarea form-control" name="message" id="form-message" rows="7" cols="20" data-error="Message field is required" required></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12 col-12">
                                        <div class="form-group">
                                            <button type="submit" class="cp-default-btn-sm">ارسال</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-sm-12 col-12">
                                        <div class='form-response'></div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="sidebar-item-box">
                    <ul class="sidebar-more-option">
                        <li>
                            <a href="post-ad.html"><img src="~/images/banner/more1.png" alt="more" class="img-fluid">Post a Free Ad</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/images/banner/more2.png" alt="more" class="img-fluid">Manage Product</a>
                        </li>
                        <li>
                            <a href="favourite-ad-list.html"><img src="~/images/banner/more3.png" alt="more" class="img-fluid">Favorite Ad list</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-item-box">
                    <img src="~/images/banner/sidebar-banner1.jpg" alt="banner" class="img-fluid m-auto">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Area End Here -->
